.big-information-wrapper{
    padding: 6.9vw 10.4vw;
    position: relative;
}

.big-information-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.4vw;
    width: 100%;
}

.big-information-text-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.big-information-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.4vw;
    width: 40.2vw;
}

.big-information-img{
    width: 40%;
    height: auto;
}


.big-information-title{
    width: 70%;
    text-align: center;
    color: #222222
}

.big-information-text{
    color: #888888;
    font-size: 1.4vw;
}

.big-information-style-img{
    position: absolute;
    height: auto;
}