body{
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.69vw;
  height: 0.7vh;
}
body::-webkit-scrollbar-thumb {
    background: #949494;
    border-radius: 1vw;
    border: none;
}

.small-text{
  color: #FFFFFF;
  font-size: 1.1vw;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
}

.subtitle-text{
  color: #FFFFFF;
  font-size: 2.5vw;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
}

.gradient-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6.94vw;
  border: 1px solid #FFFFFF;
  background: linear-gradient(to right, #21D397, #7450FE80);
  width: 12.5vw;
  height: 3.4vw;
}

.gradient-text{
  font-family: 'Exo 2', sans-serif;
  font-size: 1.3vw;
  font-weight: 900;
  line-height: 1.8vw;
  text-align: center;
  background: linear-gradient(47.69deg, #17EAD9 0%, #6078EA 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
}
